.prev:hover,
.next:hover {
  background-color: rgba(26, 24, 24, 0.8);
}

.close {
    color: #aaa;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 28px;
    font-weight: bold;
    line-height: 0.4;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }