/* Home Page */

.container.home-page {
  background-image: url("../../public/media/wine-barrel-flipped.jpg");
  background-color: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  height: 100vh;
}

.home-page .container {
  position: absolute;
}

.home-page .container.textbox {
  height: 28%;
  bottom: 0;
  padding: 0.5%;
  padding-left: 1%;
}

.home-page .container.textbox.main {
  left: 3.3%;
  width: 33%;
  display: grid;
  grid-template-columns: 68% 32%;
  grid-template-rows: 20% 80%;
  z-index: 1;
}

.home-page .container.textbox.side {
  left: 37.8%;
  width: 18%;
  z-index: 0.9;
}

.home-page .textbox {
  background-color: var(--textbox-color);
}

.home-page .textbox.main {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.home-page .textbox.side {
  border-top-right-radius: 5px;
}

.home-page .container.textbox.side .component {
  padding: 0 10px;
  margin: 0;
}

.home-page .container.textbox.side ul.component {
  padding-left: 40px;
}

.home-page .container.textbox.side .component.first {
  padding-top: 10px;
}

.home-page .container.textbox.side .component.final {
  padding-bottom: 10px;
}

.home-page .container.next-section {
  right: 10%;
  bottom: 0;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home-page .container.button {
  grid-column: 2;
  grid-row: 1 span;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Projects Page */

.container.projects-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-page .container.nav-section {
  height: 10%;
  width: 100%;
  text-align: center;
}

.projects-page .container.project-sections {
  width: 80%;
}

.projects-page .container.project-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  margin-top: 40px;
}

/* Slideshow */

.container.slideshow {
  width: 100%;
  height: 100%;
}

/* Services Page */
.container.services-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

.services-page .container.contents {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.services-page .container.service-cards {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.services-page .container.service-card {
  border: 2px solid var(--text-color);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  padding-top: 8px;
}

/* About Page */

.about-page .container.main {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.about-page .container.content {
  width: 60%;
  margin-top: 50px;
}

.about-page .container.textbox {
  position: fixed;
  left: 0;
  top: 20%;
  width: 17%;
  background-color: var(--background-color);
}
