.service-card-selected {
    border: 3px solid red !important;
}

.bold-text {
    font-weight: bold;
}

.textbox-style {
    margin: 1%;
    padding: 0.5%;
    border-radius: 5px;
    border: black solid 5px;
    background-color: #fefefe;
  }

  .border-radius-changed {
    border-right: 2px solid var(--text-color);
  }