.selected {
    border-color: var(--new-color) !important;
}

.bold-text {
    font-weight: bold;
}

.textbox-style {
    margin: 1%;
    padding: 0.5%;
    border-radius: 5px;
    border: 2px solid var(--text-color);
  }

  .border-radius-changed {
    border-right: 2px solid var(--background-color);
  }